/* https://github.com/professor-varela/3TRI-IA23 */
body{
    @font-face {
        font-family: ;
        src: url('OptimuspPrinceps.ttf');
    }
}




/*icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
    --width-main-menu: 20rem;
}

.menu-hamburger {
    --bt-size: 2.5rem;
    --bt-padding: .4rem;
    height: var(--bt-size);
    width: var(--bt-size);
    cursor: pointer;
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 1;
    transition: .3s;
}

.menu-hamburger>span,
.menu-hamburger::before,
.menu-hamburger::after {
    content: '';
    position: absolute;
    left: var(--bt-padding);
    right: var(--bt-padding);
    height: 2px;
    background-color: rgb(33, 140, 228);
    transition: .3s;

}

.menu-hamburger::before {
    top: var(--bt-padding);
}

.menu-hamburger::after {
    bottom: var(--bt-padding);
}

.menu-hamburger.opened {
    left: 0;
    transform: translateX(calc(var(--width-main-menu) - (var(--bt-size) / 2)));
}

.menu-hamburger.opened::before {
    transform-origin: 0 0;
    transform: rotate(45deg) scaleX(1.4);
}

.menu-hamburger.opened::after {
    transform-origin: 0 0;
    transform: rotate(-45deg) scaleX(1.4);
}

.menu-hamburger.opened>span {
    transform: scale(0);
}

/* ------------------------------- */

nav.main-menu {
    position: fixed;
    background-color: rgba(0 0 0 / .5);
    width: var(--width-main-menu);
    left: 0;
    top: 0;
    height: 100dvh;
    transition: .3s;
    transform: translateX(-100%);
    backdrop-filter: blur(2.5px);
    overflow: auto;
}

.main-menu a {
    display: block;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 1rem;
    border-radius: 5px;
    padding: .5rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: .5em;
    color:white

}



nav.main-menu.opened {
    transform: translateX(0%);
}

/* ----------------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}



body {
    min-height: 100vh;
    background-image:url('artorias2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    color:#FFF;
    text-align: center;
}


header {
    height: 200px;
}

main {
    max-width: 90%; /* Define a largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
}

footer {
    height: 150px;
}

/* ----------------------------------- */

button {
    padding: 10px;
    cursor: pointer;
}

/* Estilos para o modal */
dialog {
    max-width: 80%;
}   
.botaomodal{
    background: rgba(2, 0, 36, 0.671);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,13,121,1) 44%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 1.7em;
    padding: 4% 10%;
    border-radius: 10%;
    margin-top: 10%;
}





p{
    font-size: 1.1em;
    line-height: 1.6;
    margin: 0;
    padding: 0.4%;
    text-align: justify;
}
 a{
    text-decoration: none;
    color:rgb(201, 97, 27)
}


h1{
    color: #3498db;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    transition: color 0.3s ease-in-out;
    padding: 10px;
    font-size: 200px;
    
}

